body {
    margin: 0;
}

main {
    margin: 0 auto;
    width: 80vw;
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 30px 5px;
}

#article {
    text-align: justify;
    padding: 15px;
    font-size: 16px;
    border: 2px solid;
    height: 90vh;
    width: 80vw;
    overflow: auto;
}