main {
    margin: 0 auto;
    width: 950px;
    display: flex;
    flex-direction: column;
}

button {
    margin: 30px;
}

#container * {
    margin: 0 20px;
}

#display-options {
    display: inline;
}

#register-container {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#register-container div {
    flex: 0 30px;
}

#register-container div input {
    margin: 0;
}

#table {
    width: 900px;
    text-align: center;
}