#profile-picture {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #090d12;
}

#profile-picture > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#home-page-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
