body {
    margin: 0;
    background: #ffaec8;
    font-size: large;
}

main {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: cursive;
    color: white;
    margin: 10px 0;
}

form {
    display: flex;
    justify-content: space-around;
    height: 26px;
}

label {
    color: white;
    font-size: large;
}

input {
    border: none;
    background: none;
    border-bottom: 2px solid rgb(228, 85, 133);
    font-size: large;
    margin-left: 10px;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
}

    input:focus {
        outline: none;
        border-bottom: 3px solid rgb(228, 85, 133);
        background: pink;
    }

    input:checked {
        background: red;
    }

button {
    border: none;
    background: palevioletred;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 17px;
    border-radius: 30px;
}

    button:hover {
        cursor: pointer;
    }

    button:active {
        background: rgb(228, 85, 133);
    }

th {
    color: rgb(228, 85, 133);
}

tr * {
    padding: 10px 0;
}

.container-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

.container-table {
    display: flex;
    height: 400px;
    overflow: auto;
    background: #ffc7d9
}

.list {
    text-align: center;
    flex: 0 700px;
    height: 21px;
}
