body {
    margin: 0;
}

main {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 20px;
    display: flex;
}

.displays {
    margin-left: 10px;
}